/* Header Responsive Css */
@media (max-width:768px){
    header {
	padding: 0 15px;
}
}
/* Banner Responsive Css */
@media (max-width:768px){
#banner {
	padding: 0 15px;
}
.banner-left {
	width: 100%;
}
.banner-right {
	width: 100%;
	text-align: center;
}
}
/* Header Responsive Css */
@media (max-width:768px){
.service-contetn-row {
	width: 100%;
}
}
/* Service Responsive Css */
@media (max-width:768px){
.box1 {
	width: 48%;
}
.box-content-row {
	padding: 0px 15px;
}
}
/* Image Slider Responsive Css */
@media (max-width:768px){
.slider img {
	width: 100%;
}
}
/* Spectrum Responsive Css */
@media (max-width:768px){
.spectrum {
	padding: 0 15px;
}
.left-spectrum {
	width: 100%;
}
.left-spectrum img {
	width: 100%;
}
.right-spectrum {
	width: 100%;
}
.right-spectrum {
	width: 100%;
}
.check-box-left {
	width:50%;
}
.check-box-right {
	width:50%;
}
}
/* Team Responsive css */
#team {
	padding: 0 15px;
}

